/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */

body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 177%;
	letter-spacing: 0.1875px;
	color: #48555B;
}

.wrapper {
	min-width: 100%;
}
.header {
	background: url(/img/bg.jpg) center no-repeat;
	/* background-size: cover; */
	width: 100%;
	height: 769px;
	color:#FFFFFF;

	display: flex; 	
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}




.header__head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__logo {
	margin-top: 41px;
}
.head__title {
	font-family: 'Bebas Neue';
	font-size: 60px;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 5.70937px;
	margin-bottom: ;
}
.head__subtitle {
	font-size: 16px;
	line-height: 19px;

}
.header__text {
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 3.7px;
	margin-bottom: 71px;
	text-transform: uppercase;
}