/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */

body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 177%;
	letter-spacing: 0.1875px;
	color: #48555B;
}

.wrapper {
	min-width: 100%;
}
/* --UTILS-- */

.container {
	max-width: 941px;
	margin: 0 auto;
}



/* --HEADER-- */

.header {
	background: url(/img/bg.jpg) center no-repeat;
	/* background-size: cover; */
	width: 100%;
	height: 769px;
	color:#FFFFFF;

	display: flex; 	
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}




.header__head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__logo {
	margin-top: 41px;
}
.head__title {
	font-family: 'Bebas Neue';
	font-size: 60px;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 5.70937px;
	
}
.head__subtitle {
	font-size: 16px;
	line-height: 19px;

}
.header__text {
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 3.7px;
	margin-bottom: 71px;
	text-transform: uppercase;
}

/* --MENU-- */

.nav__inner {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	margin: 20px 0;
}
.nav__logo {
}
.nav__menu {
	
}

.nav__item {
	text-decoration: none;
	color: #48555B;
}
.nav__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}

.nav__item:hover {
	color: #00A4E5;
}

/* --STORY-- */
.story {
	margin-top: 58px;

}

.story__title {
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
}

.story__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}
.story-block {
	flex: 1 1 50%;
	margin-right: 50px;
}
.story__block-title {
	font-size: 20px;
	letter-spacing: 0.1875px;
	line-height: 23px;
	font-weight: 700;
	margin-bottom: 30px;
}
.story__block-text {
}
.img__block {
	flex: 1 1 50%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.img__plan {
	position: relative;

}

.img__text {
	position: absolute;
	top: 15px;
	left: 15px;

	font-size: 24px;
	font-weight: 700;
	line-height: 121%;
	color: #FFFFFF;
}

/* --PROJECT-- */

.project {
	margin-bottom: 30px;
}
.project__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}
.project__titele {
	margin-right: 150px;
	font-size: 18px;
	line-height: 21px;
	min-width: 200px;
}
.project__text {
	margin-right: 32px;
	flex: 1 1 auto;
}
.project__btn {
	min-width: 150px;
}

.btn {
	/* display: inline-block;
	padding: 15px 30px;
	vertical-align: top;
	background: #00A4E5;
	border: 0px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px; */


	
	display: flex;
	min-height: 40px;
	min-width: 150px;
	background: #00A4E5;
	justify-content: center;
	align-items: center;
	
	color: #FFFFFF;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px; 
	padding: 5px 15px;
	
	
	
}


.projectcart__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px; 

}
.projectcart__col {
	flex: 0 0 33.333%;
	padding: 0 15px;
	
}
.projectcart__item {
	border: 1px solid #E6E6E6;
	padding: 35px 23px;
}
.item__img {
}
.item__title {
	margin: 15px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	
}
.item__text {
}

.build {
	background: url(/img/bgfooter.jpg) center no-repeat;
	/* background-size: cover; */
	height: 500px;
	width: 100%;
	position: relative;
	
}
.title {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	line-height: 120%;

}

.bild__btn {
		position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* --mail-- */
.mail {
	background-color: #171819;
	display: flex;
	justify-content: center;
	padding: 30px 0;
	
}
.mail__header {
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	margin-right: 80px;
}
.mail__edit {
	display: flex;
	
}
.mail__input {
	height: 40px;
	width: 250px;
}
.btn {
	height: 40px;
}